<article class="item"> 
   <a href="/products/<%= product.id %>">
   <img src="/images/<%= product.image %>" alt="<%= product.name %>" >
        <div class="description-item">
            <i class="fas fa-truck"></i>
            <p class="price">$<%= toThousand(product.price) %></p>
            <% if (product.discount != 0){ %>
                <p class="discount"><%= product.discount %>% off</p>
            <% } %> 
            <h4 class="name"><%= product.name %></h4>
        </div>
    </a>
</article>