<article class="item">                
    <img src="/images/<%= product.image %>" alt="<%= product.name %>" >
    <div class="description-item">
        <i class="fas fa-truck"></i>
        <p class="price">$<%= product.price %></p>
        <p class="discount"><%= product.discount %>% off</p>
        <h4 class="description"><%= product.description %></h4>
    </div>
</article>