<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head-base', {title: "Bienvenidos a MercadoLiebre"}) %>
    </head>
    <body>
        <%- include('partials/header') %>
        <section class="banner">
            <img src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
        </section>
        <main>
            <section class="last-visit">
                <h3>Basado en tu última visita</h3>
                <% for (let i = 0; i < products.length; i++) { %>
                    <%  if (products[i].category == "in-sale"){ %>
                        <%- include('partials/products', {product:products[i]}) %>
                    <% } %>
                <% } %>
            </section>
            <section class="sale">
                <h3>Ofertas</h3>
                <% for (let i = 0; i < products.length; i++) { %>
                    <%  if (products[i].category == "visited"){ %>
                        <%- include('partials/products', {product:products[i]}) %>
                    <% } %>
                <% } %>
            </section>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>